* {
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  background-color: rgb(84, 84, 95);
  border-radius: 4px;
}

.nav-content {
  color: rgb(246, 240, 240);
  margin-left: -115px;
}

.create-btn {
  background-color: rgb(238, 238, 243);
  border-color: black;
  color: black;
}

.create-btn :hover {
  color: aquamarine;
}
