* {
    margin: 0;
    box-sizing: border-box;
  }
  .form {
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    left: 50%;
    top: 50%;
    position: absolute;
    border-radius: 2em;
    transform: translate(-50%, -50%);
  }
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  .forgot-password a {
    color: #167bff;
  }
  h3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .mb-3 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .d-grid {
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .forgot-password {
    padding-right: 40px;
    padding-top: 10px;
  }
  .email-label {
    padding-bottom: 10px;
  }
  .password-label {
    padding-bottom: 10px;
  }
  .icon {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-120%);
    height: 20px;
  }
  svg {
    position: absolute;
  }
  i {
    position: absolute;
    top: 48.7%;
    transform: translateY(-50%);
    right: 70px;
    height: 18px;
  }
  i:hover {
    color: #00fcb6;
    cursor: pointer;
  }
  